.Base {
    background-color: rgb(202, 202, 202);
    border: 1px solid hwb(0deg 81% 19%);
    border-radius: 4px;
    padding: 4px 8px;
}

.Danger {
    background-color: rgb(253, 55, 55);
    border: 1px solid hwb(0deg 81% 19%);
    border-radius: 4px;
    padding: 4px 8px;
    color: rgb(255, 255, 255)
}

.Warning {
    background-color: rgb(253, 232, 114);
    border: 1px solid hwb(0deg 81% 19%);
    border-radius: 4px;
    padding: 4px 8px;
}

.Success {
    background-color: rgb(113, 255, 78);
    border: 1px solid hwb(0deg 81% 19%);
    border-radius: 4px;
    padding: 4px 8px;
}

.Info {
    background-color: rgb(51, 181, 229);
    border: 1px solid hwb(0deg 81% 19%);
    border-radius: 4px;
    padding: 4px 8px;
}

.Dafault {
    background-color: rgb(43, 187, 173);
    border: 1px solid hwb(0deg 81% 19%);
    border-radius: 4px;
    padding: 4px 8px;
}

p {
    font-size: 1rem;
}